.assetContainer {
    padding: 0 12px;
}
.assetContainer:hover {
    cursor: pointer;
    background: #daedff;
}
.asset {
    display: flex;
    width: 100%;
    height: 84px;
    border-bottom: 1px solid #e4e4e4;
}
.assetLeft, .assetRight {
    flex: 1;
}
.assetLeft {
    position: relative;
}
.exchangeName {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
}
.assetPriceTitle {
    font-weight: 500;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
}
.assetName {
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    color: #949393;
    text-align: left;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.assetPrice {
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    color: #949393;
    text-align: right;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.assetRight a {
    text-decoration: none;
}
